*{
	margin:0;
}
body {
	background-color: #fff;
	color: black;
	font-family: Calibri;
	font-size: 2em;
}
html{
	height: 100%;
}

/* li {
	padding: 8px 0 8px 8px;
	cursor: pointer;
	list-style: none;
}

li:hover {
	border: 2px solid white;
	border-radius: 0 20px 20px 0;
	padding: 6px 0 6px 6px;
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 58%, #005bff 100%);
}

li:active {
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, #005bff 100%);
}

ul {
	box-sizing: border-box;
	min-height: 220px;
} */

.list-container:nth-child(2n-1) {
	background-color: #141414;
}


.present {
	font-weight: bold;
}

.absent {
	font-style: italic;
	list-style-type: square;
}

select,input {
	box-sizing: border-box;
	width: 250px;
	height: 35px;
	border: 1px solid #ff1331;
	background-color: black;
	color: #ffcf4d;
	font-size: 20px;
	font-family: Calibri;
	font-weight: 700;
}

.input-holder {
	display: inline-block;
	margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
}
.input-holder-text{
    margin-top: 40px;
    /* display: inline-block; */
}
.input-holder-text a:hover{
	color : #6bff33
}

.add-button {
	box-sizing: border-box;
	/* width: 250px; */
	height: 35px;
	border: 1px solid #2eff13;
	/* border-left: none; */
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: Calibri;
	font-weight: 700;
}
.add-button .first{
	border-left: 1px solid #2eff13;
}
.add-button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.add-button:active {
	background-image: linear-gradient(to right, #0afd60 0%, #00fb37 51%, #2eff13 100%);
	color: black;
	cursor: auto;
}

.container{
    border: 2px solid #2eff13;
    border-radius: 20px;
	padding: 15px;
	margin:0 auto;
	max-width: 800px;
}
.resContainer{
	border: 2px solid #2eff13;
    border-radius: 20px;
	padding: 15px;
	margin:0 auto;
	max-width: 800px;
}
.container .resContainer{
	border: none;
}
a:link{
    color:white;
    font-style: normal;
    text-decoration: none;
}
a{
    color:white;
    font-style: normal;
    text-decoration: none;
}

/* .container{
	position: relative;
    width: 70%;
	height: 435px;
	margin:0 auto;
	min-width: 650px;
} */

/* .inputRadio{
	width: 40px;
} */
/* radio */
@keyframes click-wave {
	0% {
	  height: 40px;
	  width: 40px;
	  opacity: 0.35;
	  position: relative;
	}
	100% {
	  height: 200px;
	  width: 200px;
	  margin-left: -80px;
	  margin-top: -80px;
	  opacity: 0;
	}
  }
  
  .option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 40px;
	transition: all 0.15s ease-out 0s;
	background: #cbd1d8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 1000;
  }
  .option-input:hover {
	background: #9faab7;
  }
  .option-input:checked {
	background: #0afd60;
  }
  .option-input:checked::before {
	height: 40px;
	width: 40px;
	position: absolute;
	content: '✔';
	display: inline-block;
	font-size: 26.66667px;
	text-align: center;
	line-height: 40px;
  }
  .option-input:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: #00c6ff;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
  }
  .option-input.radio {
	border-radius: 50%;
  }
  .option-input.radio::after {
	border-radius: 50%;
  }
	  
  
  /*  */
.widget {
	padding: 20px 30px;
	background: white;
	font-family: 'Roboto', sans-serif;
  }
  /* .widget-title a {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #222;
	font-size: 16px;
	padding-left: 15px;
	margin-bottom: 15px;
	border-left: 2px solid #b99d61;
  } */
  .widget-list {
	padding: 0;
	list-style: none;
  }
  .widget-list a:before {
	content: "\2014";
	margin-right: 14px;
  }
  .widget-list a {
	text-decoration: none;
	outline: none;
	display: block;
	padding: 6px 0; 
	letter-spacing: 1px;
	font-weight: 300;
	color: #ffffff;
	transition: .3s linear;
  }
  .widget-list a:hover {color: #b99d61;}
  /* Оформление панели */
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #a12a4c;
    transition: all 0.5s;   
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 2.5em;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #a12a4c;
    cursor: pointer; 
    border: 2px solid #BFE2FF;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
    background: green;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
    background: red;
}
.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
div.side-b{
	width: 100px;
}
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;    
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color: #FFF;
}




/* 
Кнопка начала теста */
.testButtonHolder{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
a.testButton{
	color: #ff1331;
	padding: 10px 20px;
	width:100px;
	text-decoration:none;
	text-align:center;
	margin:20px auto;
	display: inline-block;
	background-image: linear-gradient(to left,transparent,transparent 50%, #ff1331 50%, #ff1331);
	background-position: 100% 0;
	background-size: 200% 100%;
	transition: all .25s ease-in;
	font: 400 18px tahoma;
	border: 1px solid #ff1331;
   }
   a.testButton:hover {
   background-position: 0 0;
   color:#fff;
   }
   button{
	color: #ff1331;
	padding: 10px 20px;
	width:100px;
	text-decoration:none;
	text-align:center;
	margin:20px auto;
	display: inline-flex;
	background-image: linear-gradient(to left,transparent,transparent 50%, #ff1331 50%, #ff1331);
	background-position: 100% 0;
	justify-content: space-around;
	background-size: 200% 100%;
	transition: all .25s ease-in;
	font: 400 18px tahoma;
	border: 1px solid #ff1331;
   }
   button:hover{
	background-position: 0 0;
	color:#fff;
   }
   .divButton{
	display: inline-flex;
	text-align: left;
   }
   .divButton.b1{
	   float: left;
   }
   .divButton.b3{
	float: right;
	}
	
	.button-holder{
		margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}
	.lorem{
		height: 66px;
		width: 100px;
	}
	.divButton.button.second{
		
	}
	.variants li{
		list-style: none;
	}
	.variants{
		margin-top: 20px;
	}
  button{
	cursor: pointer;
  }
  /* таблица*/
  table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
	}
	th, td:first-child {
	background: #AFCDE7;
	color: white;
	padding: 10px 20px;
	}
	th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	}
	td {
	background: #D8E6F3;
	}
	th:first-child, td:first-child {
	text-align: left;
	}
/*.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }*/